.url-section-content {

    width: 100%;
    display: flex;


}
form {
    display: flex;
    justify-content: center;
    margin:50px 0;
    font-family: "Roboto", sans-serif;

}
form input[name="url"] {
    width: 350px;
    padding: 10px;
    font-family: "Roboto", sans-serif;

}
form select {
    width: 100px;
    padding: 0 10px;
    margin: 0 5px;
    font-family: "Roboto", sans-serif;

}
form button {
    width: 120px;
    font-family: "Roboto", sans-serif;
    background: #2196f3;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 17px;
}
